<div class="upcontact" >
    <div class="icons">
        <p id="telephone">Teléfono: 666 666 666</p>
    </div>
    <div class="icons">
        <a  href="https://www.instagram.com/rocioarroyoterapeuta/" target="_blank">
            <fa-icon class="fa-2x cornflower"[icon]="faInstagram"></fa-icon>
        </a>

        <a href="https://www.facebook.com/rocioarroyoterapeuta-110102727341829" target="_blank">
            <fa-icon class="fa-2x cornflower" [icon]="faFacebook"></fa-icon>
        </a>

    </div>
</div>
