<div class="container">

    <div class="menu">
        <div class="option" (click)="displayNew()">Nuevos</div>
        <div class="option" (click)="displayRead()">Leídos</div>
    </div>
    <div *ngIf="this.isDisplayNew===true" class="column">
        <h3>Nuevos</h3>
        <div *ngFor="let message of messagesNotRead let i=index">
            <p>{{message.email}}</p>
            <p>{{message.message}}</p>
            <button (click)="markAsRead(i, message.id)">Marcar como leido</button>
        </div>
        <!-- [ngClass]="{ 'pokediv': true, 'selected': i===selectedPokediv, 'hovered':i===hoveredPokediv}"
        (click)="selectDiv(i, pokemon.url)" (mouseenter)='hoverEnter(i)' (mouseleave)='hoverLeave()'> -->
    </div>
    <div *ngIf="this.isDisplayRead===true" class="column">
        <h3>Leídos</h3>
        <div *ngFor="let message of messagesRead let i=index">
            <p>{{message.email}}</p>
            <p>{{message.message}}</p>
            <button (click)="deleteMessage(i, message.id)">Borrar</button>
        </div>
    </div>
</div>

