<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="" routerLinkActive="active">
    <!-- <img class="burgundi" src="../../assets/images/logobn.png" alt=""> -->
    <fa-icon class="fa-lg burgundi" [icon]="faHome"></fa-icon>
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <button class=" nav-link" mat-button [matMenuTriggerFor]="menu">Disfunciónes de suelo pélvico</button>
        <mat-menu #menu="matMenu">
            <a class="nav-link" routerLink="test" routerLinkActive="active">Mujer</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Hombre</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Infante</a>
        </mat-menu>
        
      </li>
      <li class="nav-item">
        <button class=" nav-link" mat-button [matMenuTriggerFor]="menu">Drenaje linfático</button>
        <mat-menu #menu="matMenu">
            <a class="nav-link" routerLink="test" routerLinkActive="active">Mujer</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Hombre</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Infante</a>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button class=" nav-link" mat-button [matMenuTriggerFor]="menu">Patología Traumatológica</button>
        <mat-menu #menu="matMenu">
            <a class="nav-link" routerLink="test" routerLinkActive="active">Mujer</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Hombre</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Infante</a>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button class=" nav-link" mat-button [matMenuTriggerFor]="menu">Ejercicio Terapéutico</button>
        <mat-menu #menu="matMenu">
            <a class="nav-link" routerLink="test" routerLinkActive="active">Mujer</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Hombre</a>
            <a class="nav-link" routerLink="test" routerLinkActive="active">Infante</a>
        </mat-menu>
      </li>
    </ul>
    <form class="form-inline md-form form-sm active-cyan-2">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
        mdbInput>
      <button class="btn my-2 my-sm-0" type="submit">
        <fa-icon class="fa-lg cornflower" [icon]="faSearch"></fa-icon>
      </button>
    </form>
  </div>
</nav>
